* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 1s ease;
}

.left h1,
.left h3 {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: -10px;
}

.down {
  position: absolute;
  width: 40px;
  height: 60px;
  right: 0;
  border: none;
  border-radius: 10px 0 0 10px;
  color: lightgray;
  font-weight: 400;
  cursor: pointer;
}

.down:hover {
  color: black;
}

.right {
  width: 70%;
  position: relative;
  background-size: cover;
  transition: all 1s ease;
}

.up {
  position: absolute;
  width: 40px;
  height: 60px;
  left: 0;
  top: 375px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: lightgray;
  font-weight: 400;
  cursor: pointer;
}

.up:hover {
  color: black;
}
